body,html{
  overflow-x: hidden; /* Hide horizontal scrollbar */

}
*{margin: 0;
  padding: 0;
  box-sizing: border-box;}
ul li{
  padding-top: 12px;
  list-style:none;
}
ul{
  padding:0;
}
*:focus {
 box-shadow: none !important;
 

}

/************header*********/
.navbar-dark {
  background-color: #2D31FA;
  padding: 20px;
}
.searchBtn{
}
.links{
  margin-left: -80px;
}
.links .item{
  padding-right: 30px;
}
.login{
  margin-left: 80px;
}

.shopping_cart_menu{
  position: relative;
  left:900px;
  bottom: 20px;
  
}
.fa-arrow-right,.fa-star {
  float:right;
  display: none;

}
.shooping-dropdown-item{
  width:300px;
}
.shooping-dropdown-item:hover .fa-arrow-right{/* display arror icon when hover on dropdown item*/
  
      display: inline-block;
      color:blue

}

/************Login Modalr*********/
.loginModal{
  width:400px;

}
.loginModal::after{
  content: '';
  width:50px;
  background-color: blue;
}
.loginHeader{
  color:blue;
  font-size: 5em;
  font-weight: 700;
  margin-top:10px;
  border: none;
}
.loginBody{
  padding:30px;
}
.loginBody input[type="text"],.loginBody input[type="password"]{
  width:350px;
}
.loginBody input[type="submit"]{
  
  background-color:blue;
  color:white;
  width:350px;
  border:solid 2px blue;

}
.loginBody input[type="submit"]:hover{
  background-color: white;
  color:blue;
  border:solid 2px blue;
  font-weight: 600;

}
/************footer*********/
.footer{
  background-color: aliceblue;
  padding:30px;
}
.footer a{
  text-decoration: none;
  color:black
}
.footer a:hover{
  text-decoration:underline;
  color:blue;
  font-weight:400;
}


/*************Products section**********************/
.card{
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  margin:10px;
  padding: 5px;
  display:flex; flex-direction:column; flex:1;
}

.card li{
  list-style:inside;
}
.products{
  margin-top: 50px;
  margin-bottom: 50px;

}
.cardImg{
  width:60%;
  margin: auto;
  padding-top: 20px;
  transition: 500ms;
}
.cardImg:hover{
  width:70%;
  transform: scale(0.8);
}
.addProductBtn{
  float:right;
  background-color: white;
  color:blue;
  border:solid 1px blue;
}
.addProductBtn:hover{
  background-color:blue;
  float: right;

}

.price{
  float: left;
  font-weight: 800;
  font-size: 1.3em;
}
.fa-plus{
  transition:transform 1.5s ease-out!important;
    transition:0s;

}
.fa-plus:hover{
transform: rotateX(360deg);}
.priceAdd{
}