li{
  list-style:none;
}
ul li{
  padding-top: 12px;
}
ul{
  padding:0;
}

/************header*********/
.navbar-dark {
  background-color: #c2660f;
  padding:15px;
}
.links{
  margin-left: -80px;
}
.links .item{
  padding-right: 30px;
}
.sign{
  margin-left: 80px;
}



/************footer*********/
.footer{
  background-color: aliceblue;
  padding:30px;
}
.footer a{
  text-decoration: none;
  color:black
}
.footer a:hover{
  text-decoration:underline;
  color:#c2660f;
  font-weight:400;
}


/*************Products section**********************/
.card{
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  margin:10px;
  padding: 5px;
}

.card li{
  list-style:inside;
}
.products{
  margin-top: 50px;
  margin-bottom: 50px;

}
.cardImg{
  width:60%;
  margin: auto;
  padding-top: 20px;
}
.detailButton{
  float:right;
  background-color: #c2660f;
}
.detailButton:hover{
  background-color: white;
  color:#c2660f;
  border:solid 2px #c2660f;

}
.price{
  float: left;
  font-weight: 800;
  font-size: 1.3em;
}
.couple{
  position: relative;
  bottom:10px;
}